a {
    color: inherit;
    text-decoration: none;
}

.password__reset__button, .password__reset__button, .change-password-button {
    margin-top: 12px;
}

.nav-button:hover {
    color: #808080;
    transition: 0.75s;
}

.empty {
    margin-top: 50px;
}

.search {
    display: flex;
    justify-content: space-between;
}

.cart-submit {
    margin-top: 6px;
}

.search-outcome {
    display: flex;
    justify-content: flex-end;
}

.header {
    margin-bottom: 15px;
}

.footer {
    margin-top: 50px
}

.product_buttons {
    display: flex;
    justify-content: space-around;
}

.up {
  vertical-align: 4px;
}

.errorlist {
    color: #ff0000;
}